<% content_for(:title) do %>
  トップ
<% end %>
<div class="page-header">
  <h2>あなたが行った検証項目共有しよう</h2>
  <%= link_to "あなたがした検証項目を投稿する", new_post_path,:class => 'btn btn-success' %>
</div>
<div class="span9">
  <%- model_class = Post -%>
  <h2>投稿された検証項目一覧</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>検証項目</th>
        <th>タグ</th>
      </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
      <td><%= link_to post.title, "posts/#{post.id}" %></td>
      <td><%= raw post.tag_list.map{|t| link_to t, tag_path(t)}.join(', ') %></td>
  </tr>
<% end %>
  </tbody>
</table>
</div>

